dist/
node_modules/
ios/
android/
functions/
firebase-functions-*.js
public/
build/
coverage/
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.config.js
*.config.ts
cypress.config.ts
vite.config.ts
tailwind.config.js
postcss.config.js
capacitor.config.ts
